h3#form-elements.secondary-headline Form Elements
.vertical-spacer

label Default block, 100% width text input
input type="text"
.vertical-spacer

label Inline text input
input.input--inline type="text"
code.code--inline .input--inline
.vertical-spacer

label Large text input, default block 100% width
input.input--large type="text"
.vertical-spacer

label Large text inline input
input.input--large.input--inline type="text"
code.code--inline .input--large.input--inline
.vertical-spacer

label Small text inline input
input.input--small.input--inline type="text"
code.code--inline .input--small.input--inline
.vertical-spacer

label Disabled text input
input.disabled type="text" disabled="disabled"

label Textarea
textarea rows="3"

label Default select
select
  option Option 1
  option Option 2
  option Option 3

label Large inline select
select.input--inline.input--large
  option Testing Option 1
  option Option 2
  option Option 3

label Disabled select
select disabled="disabled"
  option Option 1
  option Option 2
  option Option 3

label Default multiple select
select multiple="multiple"
  option Option 1
  option Option 2
  option Option 3
  option Option 4
  option Option 5

.vertical-spacer--large

h4.callout-text Validation States

label Success input
input.input--success type="text"

label Warning input
input.input--warning type="text"

label Error input
input.input--error type="text"
