.nav.nav--global.nav--mobile
  .container
    .row.middle-xs
      .col-xs-2
        = link_to "#", class: "menu-trigger" do
          i.icon.icon--menu Menu

      .col-xs-10
        = link_to "/", class: "logo" do
          = image_tag "logo/logo-large.png"

    .menu-links
      = link_to "Team", "#", class: "active"
      = link_to "Campaigns", "#"
      = link_to "Kudos", "#"
      = link_to "Account", "#"
      = link_to "Link", "#"
      = link_to "Log out", "#"

.nav.nav--global
  .container
    .row.between-xs.middle-xs
      .col-xs-3
        = link_to "/", class: "logo" do
          = image_tag "logo/logo-large.png"

      .col-xs-9
        .row.middle-xs.end-xs
          .nav-links.col-xs-6.col-sm-9
            = link_to "Team", "#", class: "active"
            = link_to "Campaigns", "#"
            = link_to "Kudos", "#"

          .dropdown.col-xs-5.col-sm
            = link_to "#", class: "button button-link dropdown-trigger" do
              .avatar.avatar--small
                = image_tag "http://loremflickr.com/200/200/dog"

              ' Username
              i.icon.icon-down-arrow.icon--action Icon

            .dropdown-menu
              = link_to "dropdown link", "#"
              = link_to "dropdown link", "#"
              = link_to "dropdown link", "#"
              = link_to "dropdown link", "#"
              = link_to "dropdown link", "#"
