.nav.nav--global
  .container
    .row.between-xs.middle-xs
      .col-xs-3
        = link_to "/", class: "logo" do
          = image_tag "logo/logo-large.png"

      .col-xs-9
        .row.middle-xs.end-xs
          .nav-links.col-xs
            = link_to "Product", "#"
            = link_to "Customers", "#"
            = link_to "Sign Up", "#"
          .col-xs-2
            = link_to "Request Demo", "#", class: "button button--outline button--small"

.vertical-spacer

.container
  .row.center-xs
    .col-xs-12.col-sm-6
      .card.card--large
        h1.primary-headline Log In

        form
          .form-group
            label for="email" Email
            input#email type="text"

            label for="password" Password
            input#password type="password"

            .input--inline
              input#checkbox type="checkbox"
              label.input--inline for="checkbox" Remember Me

          input.button.button--large.button--wide type="submit" value="Log In"

          hr

          = link_to "Forgot password", "#"
          p
            ' Don't have an account?
            = link_to "Sign up.", "#"

.vertical-spacer

footer
  .container
    .row.center-xs.middle-xs
      .col-xs-12
        p Footer contents here.
