.nav.nav--global.nav--mobile
  .container
    .row.middle-xs
      .col-xs-2
        = link_to "#", class: "menu-trigger" do
          i.icon.icon--menu Menu

      .col-xs-10
        = link_to "/", class: "logo" do
          = image_tag "logo/logo-large.png"

    .menu-links
      = link_to "Team", "#", class: "active"
      = link_to "Campaigns", "#"
      = link_to "Kudos", "#"
      = link_to "Account", "#"
      = link_to "Link", "#"
      = link_to "Log out", "#"

.nav.nav--global
  .container
    .row.between-xs.middle-xs
      .col-xs-3
        = link_to "/", class: "logo" do
          = image_tag "logo/logo-large.png"

      .col-xs-9
        .row.middle-xs.end-xs
          .nav-links.col-xs-6.col-sm
            = link_to "Team", "#", class: "active"
            = link_to "Campaigns", "#"
            = link_to "Kudos", "#"

          .dropdown.col-xs-5.col-sm-3
            = link_to "#", class: "button button-link dropdown-trigger" do
              ' Username
              i.icon.icon-down-arrow.icon--action Icon

            .dropdown-menu
              = link_to "dropdown link", "#"
              = link_to "dropdown link", "#"
              = link_to "dropdown link", "#"
              = link_to "dropdown link", "#"
              = link_to "dropdown link", "#"

.container
  .nav.nav--secondary
    .row.between-sm.middle-sm
      .col-xs-12.col-sm
        h1.secondary-headline Page Headline
      .col-xs-12.col-sm
        .row.middle-xs.end-sm
          .col-xs.col-sm-2
            = link_to "Sub link"

          .col-xs.col-sm-2
            = link_to "Sub link"

          .col-xs.col-sm-4
            button.button.button--highlight Call to Action

  .card.card--large
    .row
      .col-xs-12.col-sm-7.last-xs.first-sm
        h2.tertiary-headline Please complete the feedback below:

        .vertical-spacer

        .form-group
          label What was the best part of your week?
          textarea rows="4"

          .vertical-spacer

          label What was the most challenging part of your week?
          textarea rows="4"

          .vertical-spacer

          label What do you hope to improve upon next week?
          textarea rows="4"

        hr.hr--medium

        p
          span.callout-text See an area where the company can improve?
          br
          ' Send a suggestion to leadership.

        .vertical-spacer

        label Your suggestion
        textarea rows="4"

        label Your suggestion will help...
        select
          option Option 1
          option Option 2
          option Option 3
          option Option 4
          option Option 5

        hr.hr--medium

        .row.center-xs.start-sm
          .col-xs-12.col-sm
            .form-group
              input.button.button--wide type="submit" value="Complete Feedback"

          .col-xs-12.col-sm
            .alert
              p Helpful info text could go here. Or error messages.

      .col-xs-12.col-sm-4.col-sm-offset-1
        .well.well--large.well--warning
          h2.callout-text When giving feedback:

          ul.list-group
            li
              p Be constructive and helpful. Give leadership the feedback you'd want to receive.
            li
              p
                strong Your name is attached to your responses.
                '  If no one knows who the feedback came from, it's tough to make targeted improvements.
