.nav.nav--global.nav--mobile
  .container
    .row.middle-xs
      .col-xs-2
        = link_to "#", class: "menu-trigger" do
          i.icon.icon-menu Menu

      .col-xs-10
        = link_to "/", class: "logo" do
          = image_tag "logo/logo-large.png"

    .menu-links
      = link_to "Team", "#", class: "active"
      = link_to "Campaigns", "#"
      = link_to "Kudos", "#"
      = link_to "Account", "#"
      = link_to "Link", "#"
      = link_to "Log out", "#"

.nav.nav--global
  .container
    .row.between-xs.middle-xs
      .col-xs-3
        = link_to "/", class: "logo" do
          = image_tag "logo/logo-large.png"

      .col-xs-9
        .row.middle-xs.end-xs
          .nav-links.col-xs-6.col-sm-9
            = link_to "Team", "#", class: "active"
            = link_to "Campaigns", "#"
            = link_to "Kudos", "#"

          .dropdown.col-xs-5.col-sm
            = link_to "#", class: "button button-link dropdown-trigger" do
              .avatar.avatar--small
                = image_tag "http://loremflickr.com/200/200/dog"

              ' Username
              i.icon.icon-down-arrow.icon--action Icon

            .dropdown-menu
              = link_to "dropdown link", "#"
              = link_to "dropdown link", "#"
              = link_to "dropdown link", "#"
              = link_to "dropdown link", "#"
              = link_to "dropdown link", "#"

.container
  .nav.nav--secondary
    .row.between-xs.middle-xs
      .col-xs
        h1.secondary-headline Campaigns
      .col-xs.end-xs
        button.button.button--highlight Create a new campaign

  .card
    .row
      .col-xs-12
        table.table
          thead
            tr
              th width="10%"
              th width="20%" Campaign Type
              th width="38%" Actions
              th width="20%" Status
              th width="10%"
          tbody
            tr
              td
                span.badge.badge--outline Active
              td
                span Weekly Check-in
              td
                span Emails will be sent on 04/09/2017.
              td
                .toggle
                  input#toggle-1.toggle-cb type="checkbox" name="toggle" checked="checked"
                  label.toggle-label for="toggle-1"
                    .toggle-inner data-active="active" data-inactive="inactive"
                    .toggle-switch
              td align="right"
                button.button--outline.button--small.button--highlight.button--wide Edit

            tr
              td
                span.badge.badge--outline.badge--inactive Inactive
              td
                span Quarterly Review
              td
                span Emails will be sent on 04/09/2017.
              td
                .toggle
                  input#toggle-2.toggle-cb type="checkbox" name="toggle"
                  label.toggle-label for="toggle-2"
                    .toggle-inner data-active="active" data-inactive="inactive"
                    .toggle-switch
              td align="right"
                button.button--outline.button--small.button--highlight.button--wide Edit

            tr
              td
                span.badge.badge--outline.badge--inactive Inactive
              td
                span Annual Review
              td
                span Emails will be sent on 04/09/2017.
              td
                .toggle
                  input#toggle-3.toggle-cb type="checkbox" name="toggle"
                  label.toggle-label for="toggle-3"
                    .toggle-inner data-active="active" data-inactive="inactive"
                    .toggle-switch
              td align="right"
                button.button--outline.button--small.button--highlight.button--wide Edit
