@mixin avarar-box-shadow($color: $action-color) {
  box-shadow: 0 0 0 2px $color;
}

.avatar {
  @include size(3.75rem);
  @include avarar-box-shadow($action-color);
  border: 2px solid $white;
  border-radius: 50%;
  box-sizing: content-box;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  background-size: cover;
  position: relative;

  img {
    height: 100%;
    width: auto;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  span {
    @include position(absolute, null 0px null 0px);
    background: $highlight-color;
    color: $white;
    display: block;
    line-height: 3.75rem;
    text-transform: uppercase;
    height: 100%;
    width: 100%;

    &.avatar--alt-color {
      background: $turquoise;
    }
  }

  &--small {
    @include size(2rem);
    font-size: 0.75rem;

    img {
      @include size(2.5rem);
    }

    span {
      line-height: 2rem;
    }
  }

  &--large {
    @include size(5rem);
    font-size: 1.5rem;

    img {
      @include size(5rem);
    }

    span {
      line-height: 5rem;
    }
  }

  &--xlarge {
    @include size(8rem);
    font-size: 2rem;
    margin-top: $base-spacing;

    img {
      @include size(8rem);
    }

    span {
      line-height: 8rem;
    }
  }

  // New
  &--neutral {
    background: rgba($highlight-color, 0.1) image-url("icon/icon-neutral.svg") center no-repeat;
    background-size: 50% auto;
    box-shadow: 0 0 0 2px $highlight-color;
  }

  &--positive {
    background: rgba($success-color, 0.1) image-url("icon/icon-positive.svg") center no-repeat;
    background-size: 50% auto;
    box-shadow: 0 0 0 2px $success-color;
  }

  &--negative {
    background: rgba($error-color, 0.1) image-url("icon/icon-negative.svg") center no-repeat;
    background-size: 50% auto;
    box-shadow: 0 0 0 2px $error-color;
  }

  &--scrunched {
    margin: -5px 0;
    span {
      background: $turquoise;
    }
  }
}
