.grouped-options {
  .input-wrapper {
    align-items: center;
    border: none;
    border-radius: $base-border-radius;
    display: flex;
    display: -ms-flexbox;
    height: 40px;
    justify-content: center;
    white-space: nowrap;
    @media(max-width: $medium-screen) {
      height: auto;
      flex-direction: column;
    }
  }

  .option {
    align-items: center;
    background-color: rgba(desaturate($action-color, 20), 0.15);
    border-right: 1px solid rgba(desaturate($action-color, 20), 0.25);
    display: flex;
    display: -ms-flexbox;
    -ms-flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear;
    width: 100%;

    &:last-child {
      border-radius: 0 $base-border-radius $base-border-radius 0;
      border-right: 0;
    }

    &:first-child {
      border-radius: $base-border-radius 0 0 $base-border-radius;
    }

    &:hover {
      opacity: 1;
    }

    @media(max-width: $medium-screen) {
      height: 55px;
    }
  }

  label {
    align-items: center;
    color: $midnight;
    display: flex;
    display: -ms-flexbox;
    -ms-flex: 1;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    height: 100%;
    margin-bottom: 0;
    text-align: center;
    transition: background 0.2s linear;
    width: 100%;
    white-space: wrap;
    z-index: 1;

    &.nps-selected {
      background: $action-color;
      border: 1px solid shade($action-color, 5);
      color: white;
    }
  }

  input {
    @include position(absolute, 0px null null 0px);
    appearance: none;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 2;

    &:hover + label {
      color: $action-color;
    }

    &:hover:checked + label {
      color: $white;
    }

    &:checked + label,
    &:checked + label span {
      background: $action-color;
      border: 1px solid shade($action-color, 5);
      color: white;
    }
  }
}

.grouped-options--outline {
  .input-wrapper {
    border: 1px solid $action-color;
  }

  .option {
    border-width: 1px;
    border-right: 1px solid $action-color;
    background: none;

    &:hover {
      background: rgba($action-color, 0.2);

      label {
        color: $action-color;
      }
    }
  }

  label {
    color: $midnight;
  }

   label.nps-selected {
    background: $action-color;
    color: $white;
    &:hover {
      color: $white;
    }
  }

  input {
    &:hover:checked + label {
      color: $midnight;
    }

    &:checked + label,
    &:checked + label span {
      background: rgba($action-color, 0.5);
      border: none;
      color: $midnight;
    }
  }
}

.grouped-options--colorized {
  .input-wrapper {
    background: linear-gradient(to right, rgba($red, 0.6), rgba($warning-color, 0.6), rgba($success-color, 0.6));
    @media(max-width: $medium-screen) {
      background: linear-gradient(to bottom, rgba($red, 0.6), rgba($warning-color, 0.6), rgba($success-color, 0.6));
    }
  }

  .option {
    background: none;
    border-right-color: $white;
  }

  label {
    color: $white;

    &:hover {
      color: $midnight;
    }
  }

  label.nps-selected {
    color: $midnight;
    background: none;
    border: 2px solid darken($action-color, 10);
  }

  input {
    &:hover + label {
      color: $midnight;
    }

    &:hover:checked + label {
      color: $midnight;
    }

    &:checked + label,
    &:checked + label span {
      background: none;
      border: 2px solid darken($action-color, 10);
    }
  }
}

.grouped-options--pagination {
  .input-wrapper {
    .option:first-of-type {
      min-width: 120px;
    }

    .option:last-of-type {
      min-width: 95px;
    }
  }
}

.grouped-options-labels {
  .small-text {
    font-size: 0.6rem;
  }

  @media(max-width: $medium-screen) {
    display: none;
  }

  & + .grouped-options {
    .option {
      span {
        display: none;
      }

      @media(max-width: $medium-screen) {
        label {
          font-size: 0px;

          input {
            visibility: visible;
          }

          span {
            display: block;
            font-size: 12px;
          }
        }
      }
    }
  }
}