.well {
  align-content: center;
  border: 1px solid rgba($medium-gray, 0.5);
  border-radius: $base-border-radius;
  display: flex;
  flex-direction: column;
  margin: $base-spacing 0;
  padding: $base-spacing;

  p:last-of-type {
    margin-bottom: 0;
  }

  hr:last-of-type {
    display: none;
  }

  &--centered {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &--small {
    padding: $small-spacing;
  }

  &--large {
    padding: $large-spacing;

    @include media($mobile) {
      padding: $base-spacing;
    }
  }

   &--highlight, &--neutral {
    background: rgba($highlight-color, 0.05);
    border-color: $highlight-color;
  }

  &--success, &--positive {
    background: rgba($success-color, 0.05);
    border-color: $success-color;
  }

  &--primary {
    background: rgba($turquoise, 0.05);
    border-color: $turquoise;
  }

  &--warning {
    background: rgba($warning-color, 0.05);
    border-color: $warning-color;
  }

  &--error, &--negative {
    background: rgba($error-color, 0.05);
    border-color: $error-color;
  }

  &--no-top-margin {
    margin-top: 0;
  }

  &--no-bottom-margin {
    margin-bottom: 0;
  }

  &--response-rate {
    margin-bottom: 0;
    font-size: $base-font-size * .80;
    padding: $tiny-spacing;
  }

  &--table-top-margin {
    margin-top: $small-spacing;
  }

  .ie-wrap {
    box-sizing: border-box;
    max-width: 100%;
  }
}
