#{$all-buttons},
.button {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

.button-link,
.button-link:focus {
  background: none;
  color: $action-color;
  padding: 0;

  &:hover {
    background: none;
    color: shade($action-color, 20%);

    .icon {
      background: shade($action-color, 20%);
    }
  }

  .icon {
    vertical-align: top;
  }
}

.button--large {
  font-size: 1rem;
  padding: $small-spacing * 1.2 $base-spacing * 1.2;
}

.button--small {
  font-size: 0.75rem;
  padding: $small-spacing / 1.2 $small-spacing;
}

.button .icon {
  margin-right: $small-spacing;
}

.button--success {
  background: $success-color;

  &:hover,
  &:focus {
    background: shade($success-color, 20%);
  }
}

.button--warning {
  background: $warning-color;

  &:hover,
  &:focus {
    background: shade($warning-color, 20%);
  }
}

.button--error {
  background: $error-color;

  &:hover,
  &:focus {
    background: shade($error-color, 20%);
  }
}

.button--disabled,
.button--disabled:hover,
.button--disabled:focus {
  background: $medium-gray;
  color: $light-gray;
  cursor: default;
}

.button--outline {
  background: transparent;
  border: 1px solid $action-color;
  box-shadow: 0 0 1px $action-color;
  color: $action-color;

  &:hover {
    color: shade($action-color, 20%);
    border-color: shade($action-color, 20%);
    background: transparent;
  }

  &.button--disabled {
    color: $medium-gray;
    border-color: $medium-gray;
    box-shadow: none;
  }
}

.button--highlight {
  background-color: $sky-blue;

  &:hover {
    background-color: shade($sky-blue, 20%);
  }

  &.button--outline {
    background: transparent;
    border-color: $sky-blue;
    box-shadow: 0 0 1px $sky-blue;
    color: $sky-blue;

    &:hover {
      color: shade($sky-blue, 20%);
      border-color: shade($sky-blue, 20%);
    }
  }
}
