fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  color: $action-color;
  display: block;
  font-family: $medium-font-family;
  font-size: $base-font-size;
  font-weight: 500;
  margin-bottom: $small-spacing / 2;
}

input,
select,
textarea,
.selectize-input {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
}

#{$all-text-inputs},
select,
.selectize-input,
.selectize-control.single .selectize-input {
  appearance: none;
  background-color: $base-background-color;
  background: $white;
  background-image: none;
  border: 1px solid shade($base-border-color, 5);
  border-radius: $base-border-radius;
  box-shadow: none;
  box-sizing: border-box;
  line-height: 1;
  margin-bottom: $small-spacing;
  padding: 0.5625rem $base-spacing / 2;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: none;
    outline: none;
  }

  &:focus-inner {
    border: 0;
    box-shadow: none;
    padding: 0;
  }

  &:disabled,
  &.disabled {
    background-color: $light-gray;
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select,
.selectize-control.single .selectize-input {
  background: $white image-url("icon/icon-up-down-arrows.svg") right 8px center no-repeat;
  background-size: 8px;
  margin-bottom: $small-spacing;
  width: 100%;
}

select[multiple] {
  background-image: none;
}

// Selectize overrides
.selectize-input,
.selectize-control.single .selectize-input {
  margin-bottom: 0;
}

.selectize-control.single .selectize-input:after {
  display: none;
}

.selectize-control.multi .selectize-input.has-items {
  padding: 0.375rem $base-spacing / 2;
}

.selectize-control.multi .selectize-input [data-value] {
  margin-bottom: 0;
}

.input--inline {
  display: inline-block;
  margin-right: $small-spacing;
  width: inherit;
}

.input-group--inline {
  display: inline-flex;
  width: inherit;

  &:first-child {
    border-radius: $base-border-radius;
    overflow: hidden;
  }

  input {
    margin: 0;
    border: none;
    border-radius: 0;
  }

  .button {
    position: relative;
    border-radius: 0;
  }
}

.input--large {
  font-size: 1rem;
  padding: $small-spacing * 1.2 $small-spacing;
}

.input--small {
  font-size: 0.75rem;
  padding: $small-spacing / 2;
}

.input--success,
.input--success:focus {
  border-color: $success-color;
}

.input--warning,
.input--warning:focus {
  border-color: $warning-color;
}

.input--error,
.input--error:focus {
  border-color: $error-color;
}

.form-group {
  margin-bottom: $base-spacing;

  &.has-warning {
    color: $warning-color;
  }

  &.has-error {
    color: $error-color;
  }
}
