.icon {
  @include size($base-font-size);
  display: inline-block;
  line-height: 1;
  text-indent: -9999px;
  vertical-align: middle;

  &-check {
    background: transparent image-url("icon/icon-check.svg") no-repeat center;
    background-size: cover;
    width: 21px;
    height: 15px;
  }

  &-close {
    @include size(12px);
    background: transparent image-url("icon/icon-close.svg") no-repeat 100% 100%;
    background-size: cover;
  }

  &-down-arrow {
    background: transparent image-url("icon/icon-down-arrow.svg") no-repeat 0px;
    background-size: cover;
  }

  &-left-arrow {
    background: image-url("icon/icon-left-arrow.svg") no-repeat 0px;
    background-size: cover;
    height: 12px;
    width: 13px;
  }

  &-link {
    background: image-url("icon/icon-link.svg") no-repeat 0px;
    background-size: cover;
    width: 20px;
  }

  &-menu {
    @include size(40px);
    background: image-url("icon/icon-menu.svg") no-repeat 0px;
    background-size: cover;
  }

  &-right-arrow {
    background: image-url("icon/icon-right-arrow.svg") no-repeat 0px;
    background-size: cover;
    width: 24px;
  }

  &-search {
    background: image-url("icon/icon-search.svg") no-repeat 0px;
    background-size: cover;
  }

  &-star {
    background: image-url("icon/icon-star.svg") no-repeat 0px;
    background-size: cover;
  }

  &-remind {
    background: image-url("icon/reminder.svg") no-repeat 0px;
    background-size: cover;
  }

  &-up-down-arrows {
    background: image-url("icon/icon-up-down-arrows.svg") no-repeat 0px;
    background-size: cover;
    width: 10px;
  }

  &-up-arrow {
    background: image-url("icon/icon-down-arrow.svg") no-repeat 0px;
    background-size: cover;
    transform: rotate(180deg);
  }

  // White icons

  &--white {
    &.icon-check {
      background: transparent image-url("icon/icon-check-white.svg") no-repeat center;
      background-size: cover;
    }

    &.icon-close {
      background: transparent image-url("icon/icon-close-white.svg") no-repeat 100% 100%;
      background-size: cover;
    }

    &.icon-down-arrow {
      background: transparent image-url("icon/icon-down-arrow-white.svg") no-repeat 0px;
      background-size: cover;
    }

    &.icon-left-arrow {
      background: image-url("icon/icon-left-arrow-white.svg") no-repeat 0px;
      background-size: cover;
    }

    &.icon-right-arrow {
      background: image-url("icon/icon-right-arrow-white.svg") no-repeat 0px;
      background-size: cover;
    }

    &.icon-link {
      background: image-url("icon/icon-link-white.svg") no-repeat 0px;
      background-size: cover;
    }

    &.icon-search {
      background: image-url("icon/icon-search-white.svg") no-repeat 0px;
      background-size: cover;
    }

    &.icon-star {
      background: image-url("icon/icon-star-white.svg") no-repeat 0px;
      background-size: cover;
    }

     &.icon-remind {
      background: image-url("icon/reminder.svg") no-repeat 0px;
      background-size: cover;
    }

    &.icon-up-down-arrows {
      background: image-url("icon/icon-up-down-arrows-white.svg") no-repeat 0px;
      background-size: cover;
    }

    &.icon-up-arrow {
      background: image-url("icon/icon-down-arrow-white.svg") no-repeat 0px;
      background-size: cover;
    }
  }

  &--disabled {
    opacity: 0.5;
  }

  //Size
  &--small {
    @include size(0.8125rem);
  }

  &--medium {
    @include size(20px);
  }

  &--large {
    @include size(50px);
  }
}
