html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background: $body-background;
}

.vertical-spacer {
  margin: $base-spacing 0;

  &--large {
    margin: $large-spacing 0;
  }

  &--small {
    margin: $small-spacing 0;
  }
}

.container {
  padding: 0 $base-spacing;
  width: 100%;

  @include media($mobile) {
    padding: 0 $base-spacing / 1.5;
  }
}

footer {
  background: $midnight;
  color: $action-color;
  flex: 1;
  padding: $large-spacing 0;
  width: 100%;
}
