ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: $small-spacing 0;
}

dt {
  color: lighten($dark-gray, 20);
  margin: 0;
}

dd {
  margin: 0 0 $small-spacing;
}

.list-group {
  li {
    border-bottom: $base-border;
    padding: $small-spacing 0;


    &:last-child {
      border-bottom: none;
    }
  }

  &--striped li {
    border-bottom: none;
    padding-left: $small-spacing;
    padding-right: $small-spacing;

    &:nth-child(even) {
      background: $light-gray;
    }
  }
}

.list--inline {
  margin: $small-spacing 0;

  li {
    border: none;
    display: inline-block;
    margin-right: $base-spacing;

    &:last-child {
      margin-right: 0;
    }
  }
}

.dl--horizontal {
  dt, dd {
  }

  dt {
    clear: left;
    float: left;
    margin-right: $base-spacing;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
  }
}
