ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: $small-spacing 0;
}

dt {
  color: lighten($dark-gray, 20);
  margin: 0;
}

dd {
  margin: 0 0 $small-spacing;
}

.list-group {
  li {
    border-bottom: $base-border;
    padding: $small-spacing 0;

    &:last-child {
      border-bottom: none;
    }
  }

  // New, 31 - 57
  &--padded > li {
    border: $base-border;
    border-radius: $base-border-radius;
    margin-top: $small-spacing;
    padding: 0;
    overflow: hidden;

    > a {
      background: $body-background;
      padding: $small-spacing $base-spacing;
    }

    > div {
      margin-left: $base-spacing;
      margin-right: $base-spacing;
    }

    &.expanded > a {
      border-bottom: $base-border;
      box-shadow: 0 0 0 1px rgba(63,63,68,.05);
    }

    &:last-child {
      border-bottom: $base-border;
    }
  }

  &--striped li {
    border-bottom: none;
    padding-left: $small-spacing;
    padding-right: $small-spacing;

    &:nth-child(even) {
      background: $light-gray;
    }
  }
}

.list--inline {
  margin: $small-spacing 0;

  li {
    border: none;
    display: inline-block;
    margin-right: $base-spacing;

    &:last-child {
      margin-right: 0;
    }
  }
}

.dl--horizontal {
  dt, dd {
  }

  dt {
    clear: left;
    float: left;
    margin-right: $base-spacing;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
  }
}
