table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr td:last-child {
  padding-bottom: $base-spacing;
  border-bottom: $base-border;
  margin-bottom: $small-spacing;
}

tbody tr:hover {
  background: $body-background;
}

tr,
td,
th {
  vertical-align: middle;
}

.table {
  &--striped {
    th,
    td {
      padding-left: $small-spacing;
      padding-right: $small-spacing;
    }

    tr:nth-child(even) {
      background: $light-blue;
    }

    tr:nth-child(even):hover {
      background: darken($light-blue, 3);
    }
  }

  &--condensed {
    th, td {
      padding: $small-spacing / 2;
    }
  }

  &--bordered {
    border: $base-border;
    border-bottom: none;
    border-collapse: separate;

    th,
    td {
      border-right: $base-border;
      padding-left: $small-spacing;

      &:last-child {
        border-right: none;
      }
    }
  }
}

@include media($mobile) {
  thead {
    display: none;
  }

  table, tbody, th, td, tr {
    border: none;
    padding: $small-spacing / 3;
    display: block;
  }

  tbody tr:hover {
    background: transparent;
  }
}
