body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

code {
  background: $light-gray;
  border: $base-border;
  border-radius: $base-border-radius;
  display: block;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 $small-spacing / 3;
  padding: $small-spacing / 3;
  text-transform: none;
}

.code--inline {
  display: inline;
  margin: 0 0 0 $small-spacing;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;

  &.hr--small {
    margin: $small-spacing 0;
  }

  &.hr--medium {
    margin: $large-spacing 0;
  }

  &.hr--large {
    margin: $large-spacing * 2 0;
  }
}

.xlarge-headline {
  font-family: $thin-font-family;
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: $small-spacing;
  letter-spacing: 0.06rem;

  @include media($tablet) {
    font-size: 1.875rem;
  }
}

.x3large-headline {
  font-family: $thin-font-family;
  font-size: 3.5rem;
  font-weight: 200;
  margin-bottom: $small-spacing;
  letter-spacing: 0.06rem;
}

.xxlarge-headline {
  font-family: $thin-font-family;
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: $small-spacing;
  letter-spacing: 0.06rem;
}

.blog-paragraph--headline {
  font-family: $thin-font-family;
  font-size: 2rem;
  margin-top: $medium-spacing;
  margin-bottom: $small-spacing;
  text-align: left;
}

.blog-paragraph--subheadline {
  font-family: $thin-font-family;
  font-size: 1.5rem;
  margin-top: $medium-spacing;
  margin-bottom: $small-spacing;
  text-align: left;
}

.primary-headline {
  font-family: $thin-font-family;
  font-size: 1.75rem;
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: $small-spacing;
}

.secondary-headline {
  font-size: 1.375rem;
  font-weight: normal;
  margin-bottom: $small-spacing;
}

.tertiary-headline {
  font-size: 1.125rem;
  font-weight: normal;
  margin-bottom: $small-spacing;
}

.label-text {
  font-family: $base-font-family;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.small-text {
  color: lighten(desaturate($dark-gray, 15), 25);
  font-size: 0.75rem;
  line-height: 1.2;
}

.emphasized-text {
  font-style: italic;
}

.deemphasized-text {
  color: lighten(desaturate($dark-gray, 10), 15);
}

.callout-text {
  font-size: 1rem;
  font-weight: bold;
}

.callout-block-text,
.callout-quote-text {
  color: darken(desaturate($sky-blue, 40), 5);
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: $base-spacing;
}

.callout-quote-text {
  font-family: $serif-font-family;
  font-weight: 300;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}
