body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

code {
  background: $light-gray;
  border: $base-border;
  border-radius: $base-border-radius;
  display: block;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 $small-spacing / 3;
  padding: $small-spacing / 3;
  text-transform: none;
}

.code--inline {
  display: inline;
  margin: 0 0 0 $small-spacing;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;

  &.hr--medium {
    margin: $large-spacing 0;
  }

  &.hr--large {
    margin: $large-spacing * 2 0;
  }
}

.primary-headline {
  font-family: $thin-font-family;
  font-size: 1.75rem;
  font-weight: 200;
  margin-bottom: $small-spacing;
}

.secondary-headline {
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: $small-spacing;
}

.tertiary-headline {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: $small-spacing;
}

.label-text {
  font-family: $medium-font-family;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

.small-text {
  font-size: 0.75rem;
}

.emphasized-text {
  font-style: italic;
}

.callout-text {
  font-size: 1rem;
  font-weight: bold;
}

.callout-block-text {
  color: lighten(desaturate($dark-gray, 20), 20);
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: $base-spacing;
}
