.hero {
  align-items: center;
  background: $hero-background;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  width: 100%;

  @include media($mobile) {
    min-height: none;
  }
}
