.nav {
  &--stacked {
    a {
      display: block;
    }
  }

  &--sticky {
    @include position(fixed, 20px null 0px null);
    overflow: scroll;

    @include media($mobile) {
      position: relative;
    }
  }

  &--secondary {
    margin-top: $base-spacing;

    #{$all-text-inputs},
    select,
    .button,
    .form-group {
      margin: 0
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin: 0;
    }
  }

  &--global {
    background: $white;
    border-bottom: $base-border;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.04);
    margin: 0;
    padding: 0;

    @include media($mobile) {
      display: none;
    }

    .logo {
      display: block;
      margin: 0;
      padding: 0.5rem 0 0;
      width: 180px;
    }

    .row:first-of-type {
      min-height: 65px;
    }

    .avatar {
      margin: 0 $small-spacing 0 0;
    }

    .nav-links>a,
    .dropdown-trigger {
      color: desaturate(lighten($dark-gray, 15), 25);
      font-size: $base-font-size;
      line-height: 1;
      padding: 0px;
      margin: 0 0 0 $base-spacing * 1.5;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
    }

    & > a.active {
      color: $action-color;
      font-weight: 600;
    }
  }

  &--mobile {
    display: none;

    @include media($mobile) {
      display: block;
    }

    .menu-trigger {
      display: block;
    }

    .menu-links {
      display: none;
    }

    .menu-links a {
      display: block;
      border-bottom: $base-border;
      padding: $small-spacing 0;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &--light {
    background: none;
    border-bottom: none;
    box-shadow: none;
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    left: 0px;

    .nav-links>a,
    .button,
    .dropdown-trigger {
      color: $white;
      padding-bottom: $small-spacing / 2;
    }

    .dropdown-trigger {
      margin-left: 0;
    }

    .button:hover {
      .icon {
        opacity: 0.7;
      }
    }

    .nav-links>a {
      transition: all 0.2s linear;

      &:hover {
        box-shadow: 0 3px 0 0 darken($action-color, 20);
      }
    }
  }
}
